In [80]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [81]:
data = pd.read_csv('ex1data1.txt', names=['population', 'profit'])

In [82]:
data.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [83]:
data.insert(0, 'ones', 1)

In [84]:
X = data.iloc[:,0:-1]
y = data.iloc[:, -1]

In [85]:
X.head()

   ones  population
0     1      6.1101
1     1      5.5277
2     1      8.5186
3     1      7.0032
4     1      5.8598

In [86]:
y.head()

0    17.5920
1     9.1302
2    13.6620
3    11.8540
4     6.8233
Name: profit, dtype: float64

In [87]:
X = X.values

In [88]:
y = y.values

In [89]:
y = y.reshape(97, 1)

In [90]:
X.shape

(97, 2)

In [91]:
y.shape

(97, 1)

In [92]:
def normalEquation(X, y):
    theta = np.linalg.inv(X.T @ X) @ X.T @ y
    return theta

这段代码是使用Python的NumPy库进行线性代数运算的表达式，它代表了线性回归模型的参数估计。下面是代码的详细解释：

1. `X` 是一个设计矩阵，其中包含了你的数据特征。
2. `X.T` 是 `X` 的转置矩阵。
3. `X.T @ X` 是 `X` 的转置矩阵与 `X` 本身的矩阵乘法，得到一个方阵。
4. `np.linalg.inv(X.T @ X)` 是计算上述方阵的逆矩阵。
5. `X.T` 是 `X` 的转置。
6. `np.linalg.inv(X.T @ X) @ X.T @ y` 表示先计算 `(X.T @ X)` 的逆矩阵，然后与 `X` 的转置矩阵相乘，最后再与目标变量向量 `y` 相乘。
这个表达式实际上是在计算线性回归的参数（系数），使用的是普通最小二乘法（Ordinary Least Squares, OLS）。在OLS中，我们通常寻找参数向量 `theta`，使得 `X * theta` 与 `y` 之间的误差平方和最小。数学上，这可以通过下面的公式来求解：
\[
\theta = (X^T X)^{-1} X^T y
\]

其中：
- \( X \) 是设计矩阵。
- \( X^T \) 是 \( X \) 的转置。
- \( (X^T X)^{-1} \) 是 \( X^T X \) 的逆矩阵。
- \( y \) 是目标变量向量。

求解这个方程可以得到线性模型的参数 \( \theta \)。

In [93]:
theta = normalEquation(X, y)

In [94]:
print(theta)

[[-3.89578088]
 [ 1.19303364]]